DATABASE_URL=mysql://root:password@127.0.0.1:3306/omics
REDIS_URL=redis://127.0.0.1:6379
JWT_MAX_AGE=86400
SECRET_KEY=base64_secret_key
QC_DOCKER_IMAGE=ghcr.io/chinese-quartet/quartet-omics-qc:latest
PDF_DOCKER_IMAGE=linuxserver/libreoffice:25.8.1
ALIYUN_ACCESS_KEY_ID=id
ALIYUN_ACCESS_KEY_SECRET=secret
ALIYUN_OSS_BUCKET=bucket
ALIYUN_OSS_REGION=region
DNA_VCF_WORKFLOW_FC_ENDPOINT=https://workflow.url
DNA_VCF_WORKFLOW_FC_BASIC_AUTH_USER=username
DNA_VCF_WORKFLOW_FC_BASIC_AUTH_PASSWORD=password
